section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}


.failing {
    background-color: red;
}

.passing{
    background-color: green;
}